@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap'); */



* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;


}

body {
    display: flex;
    justify-content: center;
}
a:link, a:visited, a:active {
      text-decoration: none;
      font-family: 'IBM Plex Mono', monospace;
      color: #FFFFFF;

}

.width100 {
    width: 100%;
}

.padding16 {
    padding-left: 16px;
}
.paddingbottom8 {
    padding-bottom: 8px;
}
.paddingbottom36 {
    padding-bottom: 36px;
}

.paddingTop48 {
    padding-top: 48px;
}
.marginBotton25 {
    margin-bottom: 25%;
}


.box-general {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: center;
    border: none;
    overflow: hidden;
}

header {
    /* Caract. caja */
    height: 44px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}

.ulNavHeader {
    /* Caract. contenedor */
    display: inline-block;
    position: absolute;
    flex-direction: column;
    background-color: #0000EC;
    /* Caract. animación */
    transition: all 1s ease-out;
    height: 224px;
    width: 1440px;
    z-index: 1;
    top: 44px;
    left: 100%;
    visibility: visible;
    /* Caract. texto */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;

}

.list-nav {

    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    height: 25%;
    font-size: 16px;
    align-items: center;
    width: 100%;
    padding-left: 16px;

}

.list-nav:hover {
    background-color: rgba(255, 255, 255, 0.486);
}






.espaciadorHeader {
    display: flex;
}



.section-presentacion {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;


}

.titulo1 {
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    margin-top: 29px;
    font-size: 36px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 16px;




}

#world {
    text-decoration: line-through;

}

#puntoTachado {
    color: blue;
}

.parrafo1 {
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 36px;

    text-align: left;
}
.maxWidthParrafo {
    max-width: 628px;
}
.botonVerdeAgua {
    display: flex;
    height: 48px;
    width: 100%;
    background: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    align-self: center;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: bold;

}


.svg-icono-menu {
    display: flex;
    align-self: center;
}

.logo {
    display: flex;
}

.checkbox-menu {
    display: none;
    justify-content: center;
    margin-right: 19px;
}

.checkbox-menu-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}


.checkbox-menu:checked ~ .ulNavHeader {
    left: -0%;
    visibility: visible;

}



.linea {
    width: 18px;
    height: 2px;
    background: black;
    transition: all 1s;
    border-radius: 8px;
}

.container-menu {
    position: relative;
    display: flex;
    height: 18px;
    flex-direction: column;
    justify-content: space-around;

}

.checkbox-menu:checked~.checkbox-menu-label .linea-med {
    opacity: 0;
}

.checkbox-menu:checked~.checkbox-menu-label .linea-top {
    transform: translate(0, 6px) rotate(-45deg);
    background: blue;
}

.checkbox-menu:checked~.checkbox-menu-label .linea-low {
    transform: translate(0px, -6px) rotate(45deg);
    background: blue;
}

.section-spotify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding-top: 64px;
    padding-bottom: 143.5px;

}

.fondo-recorte {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(100% 0, 100% 97%, 0 100%, 0 3%);
    z-index: -2;

}

.titulo2 {
    display: flex;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    line-height: 42px;

}
.color-white {
    color: #FFFFFF;

}
.color-black {
    color: black;
}


iframe {
    background: 0%;
    border-radius: 2%;
    max-width: 584px;
    margin-bottom: 4%;
    margin-right:1% ;
    margin-left:1% ;
}

.section-deDondeVenimos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    position: relative;
    width: 100%;
    height: auto;
}
.imgPhone {
    display: flex;
    min-width: 320px;
    max-width: 60%;
    transform: translateY(-120px);
    margin-bottom: -80px;

}


.section-fotos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.imagenes{
    display: flex;
    min-width: 310px;
    max-width: 480px;

}

.section-algunosDeNuestrosTemas{
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
}
.desc-item {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    height: 64px;
    margin-top: 8px;
}

.item {
    height: 130px;
}
.contenedor-item {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
width: 260px;
height: auto;
margin-bottom: 36px;
}

.fondo-recorte2 {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 100%);
    z-index: -2;

}

.section-ultimasNovedades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 25%;
}
.textoNovedades {
    text-align: center;
    margin-bottom: 36PX;
    justify-content: center;
}
/* background: linear-gradient(90deg,#0000FF 35%, #0000A3 100%); */
=======
    width: 584px;
    height: 232px;
}

@media  (min-width: 600px) {
    
    body {
        max-width: 100vw;
    }

    .padding {
        padding-left: 100px;
        padding-right: 100px;
    }

    header {
        height: 80px;
        align-items: center;
    }

    .ulNavHeader {
        font-size: 16px;
        margin-right: 100px;
        padding: 0%;
        align-items: center;
        background-color: inherit;
        right: 0;
        justify-content: space-between;
   
    }

    .list-nav {
        justify-content: flex-end;
        display: flex;
        padding-left: 0%;
        padding-right: 0%;
        font-size: 16px;
        padding-left: 24px;
    }

    .titulo1 {
        
        font-size: 64px;
        font-weight: lighter;
        color: #060A24;
        padding-left: 100px;
    }

    .parrafo1 {
        font-size: 16px;
        font-weight: normal;
        padding-left: 100px;
        max-width: 628px;
        margin-bottom: 56px;  

    }
    .botonVerdeAgua {
  
        margin-left: 100px;
        font-size: 18px;
        width: 288px;
        height: 56px;
        align-self: flex-start;


    }
       
    
    .logo {
        height: 36px;
    }
    .icono-menu {
        align-items: center;
        display: none;

    }
    .checkbox-menu-label {
        display: none;
    }


    .section-spotify {
        flex-direction: row;
        flex-wrap: wrap;
        clip-path: polygon(100% 0, 100% 95%, 0 100%, 0 5%);
        justify-content: space-around;
        padding-top: 120px;
    }

    iframe {
        width: 584px ; 
        height: 232px;

    }



}
>>>>>>> ab15876939eefd6a3d3de10a661330137c70a49b
